/*-----------------------
	SETUP
-----------------------*/
@import url('https://fonts.googleapis.com/css?family=Anton');
* {
  box-sizing: border-box;
}
body {
  background: #f7f7f7;
}
.form-control:focus {
  border-color: lightgreen;
}
.navbar {
  border: none;
}
.navbar-default {
  border-radius: 0;
}
$spaceamounts: (0, 1, 2, 3, 4, 5);
$ranges: (
    0: "0",
    1: "0.25",
    2: "0.5",
    3: "1",
    4: "1.5",
    5: "3"
);
$sides: ("top", "bottom", "left", "right", "x", "y", "");

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      @if ($side == "y") {
		 	margin-top: #{map-get($ranges, $space)}rem !important;
      	margin-bottom: #{map-get($ranges, $space)}rem !important;
      } @else if ($side == "x") {
      	margin-left: #{map-get($ranges, $space)}rem !important;
      	margin-right: #{map-get($ranges, $space)}rem !important;
      }
      @else if ($side == "") {
      	margin: #{map-get($ranges, $space)}rem !important;
      } @else {
      	margin-#{$side}: #{map-get($ranges, $space)}rem !important;
      }
    }
    .p#{str-slice($side, 0, 1)}-#{$space} {
      @if ($side == "y") {
      	padding-top: #{map-get($ranges, $space)}rem !important;
      	padding-bottom: #{map-get($ranges, $space)}rem !important;
      } @else if ($side == "x") {
		 	padding-left: #{map-get($ranges, $space)}rem !important;
      	padding-right: #{map-get($ranges, $space)}rem !important;
      }
      @else if ($side == "") {
      	padding: #{map-get($ranges, $space)}rem !important;
      } @else {
      	padding-#{$side}: #{map-get($ranges, $space)}rem !important;
      }
    }
  }
}
/*-----------------------
	DESKTOP
-----------------------*/
section#search-bar {
  ul {
    position: absolute;
    z-index: 1;
    width: 75%;
  }
  #banner-text {
    font-family: Anton;
    font-size: 1.75em;
    text-align: center;
    color: black;
    position: relative;
    margin-bottom: 1em;
  }
  #logo:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: lightgreen;
    height: 5px;
    width: 400px;
  }
}
.highlight {
  background: lightgreen;
  padding: 0.4em;
  border-radius: 2px;
}
.highlight1 {
  background: yellow;
}
.loader {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin .75s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.movie__posters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
}
.music__posters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}
.search-results {
  .list-group-item {
    text-align: left;
    & > div {
      padding-left: 1rem;
    }
  }
}
/*-----------------------
	MOBILE
-----------------------*/
@media (max-width: 992px){
  .movie__posters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }
}
@media (max-width: 768px){
  section#search-bar {
    h4 {
      margin: 1em
    }
    #logo:after {
      width: 350px;
    }
  }
  .search-results {
    .list-group-item {
      text-align: left;
      p {
        font-size: 1.2rem;
      }
      h3 {
        font-size: 1.9rem;
      }
    }
  }
}
