/***********************/
/*    color scheme     */
/***********************/

 // $primary: #3F5EF8;
 // $secondary: #f7f7f7;
 // $highlight: #3ecf8e;
 // $dim: rgba(0,0,0,0.2);
 // $text: #6b7c93;


/***********************/
/*       global        */
/***********************/

* {
  box-sizing: border-box;
}
body {
  background: #f7f7f7;
}

/***********************/
/* bootstrap overrides */
/***********************/

.navbar-default {
  border-radius: 0;
}

/***********************/
/*      desktop        */
/***********************/

section#search-bar {
  ul {
    position: absolute;
    z-index: 1;
    width: 75%;
  }
  h4 {
    font-family: Anton; 
    font-size: 1.75em; 
    text-align: center; 
    color: black; 
    position: relative;
    margin-bottom: 1em;
  }
  #logo:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: lightgreen;
    height: 5px;
    width: 400px;
  }
}
.highlight {
  background: lightgreen;
  padding: 0.4em;
  border-radius: 2px;
}
.highlight1 {
  background: yellow;
}

/***********************/
/*       mobile        */
/***********************/

@media (max-width: 768px){
  section#search-bar {
    h4 {
      margin: 1em
    }
    #logo:after {
      width: 350px;
    }
  }
}
